<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link href="/static/css/themes/default/easyui.css" rel="stylesheet"/>
    <link href="/static/css/themes/icon.css" rel="stylesheet"/>
    <script type="text/javascript">
        $(function () {
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");
            $("#addRoleDiv").css("display","none");
            //搜索点击事件
            $("#btnSearch").click(function () {
                //获取输入的名字和备注的值
                let pars ={
                    name:$("#txtSearchUName").val(),
                  remark:$("#txtSearchRemark").val()
                };
                // 发送给后端
                loadData(pars)
            });
            loadData();
        });

        function loadData(pars) {
            $('#tt').datagrid({
                url: '/Admin/UserInfo/GetUserInfo',
                title: '用户数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,//设置为true，当数据长度超出列宽时将会自动截取
                idField: 'Id',//主键列的列明
                loadMsg: '正在加载用户的信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 10,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [2, 5, 10],
                queryParams:pars,//往后台传递参数
                columns: [[
                    {field: 'ck', checkbox: true, align: 'left', width: 50},
                    {field: 'Id', title: '编号', width: 80},
                    {field: 'UserName', title: '姓名', width: 120},
                    {field: 'UserPwd', title: '密码', width: 120},
                    {field: 'Remark', title: '备注', width: 120},
                    {
                        field: 'AddDate', title: '时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return value.split('T')[0]//对日期时间的处理
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',//显示的文本
                    iconCls: 'icon-remove', //采用的样式
                    handler: function () {	//当单击按钮时执行该方法
                        //获取在表格中选中的行（getSelections：表示获取选中的行）
                        var rows = $('#tt').datagrid('getSelections');
                        if (!rows || rows.length == 0) {//判断是否选择了，如果没有选择长度为0
                            //alert("请选择要修改的商品！");
                            $.messager.alert("提醒", "请选择要删除的记录!", "error");
                            return;
                        }
                        $.messager.confirm("提示", "确定要删除嘛 ？", function (r) {
                            if (r) {
                                //获取选中的记录数组中各个记录的id
                                let strId = "";
                                for (let i = 0; i < rows.length; i++) {
                                    strId = strId + rows[i].Id + ",";
                                }
                                //截掉最后一个逗号
                                strId = strId.substr(0, strId.length - 1);
                                //将数据发送给服务端
                                $.post("/Admin/UserInfo/DeleteUser", {"strId": strId}, function (data) {
                                    if (data.flag == "ok") {
                                        $.messager.alert("提示", "数据删除成功!", "info");
                                        $("#tt").datagrid("reload");
                                        $("#tt").datagrid("clearSelections");
                                    } else {
                                        $.messager.alert("提示", "数据删除失败!", "error");
                                    }
                                })
                            }
                        });
                    }
                }, {
                    id: 'btnAdd',
                    text: '添加',//显示的文本
                    iconCls: 'icon-add', //采用的样式
                    handler: function () {
                        showAddUser();//展示添加用户表单
                        $('#addDiv').dialog({
                            title: '添加用户信息',
                            width: 300,
                            height: 300,
                            collapsible: true, //可折叠
                            maximizable: true, //最大化
                            resizable: true,//可缩放
                            modal: true,//模态，表示只有将该窗口关闭才能修改页面中其它内容
                            buttons: [{ //按钮组
                                text: 'Ok',//按钮上的文字
                                iconCls: 'icon-ok',
                                handler: function () {
                                    //提交表单。
                                    AddUserData();
                                }
                            }, {
                                text: 'Cancel',
                                handler: function () {
                                    $('#addDiv').dialog('close');
                                }
                            }]
                        });
                    }

                }, {
                    id: 'btnEdit',
                    text: '编辑',//显示的文本
                    iconCls: 'icon-edit', //采用的样式
                    handler: function () {
                        showEditUser();//展示编辑用户表单
                    }
                },{
                    id: 'btnAddRole',
                    text: '为用户添加角色',//显示的文本
                    iconCls: 'icon-edit', //采用的样式
                    handler: function () {
                        showAddRole();//展示添加用户角色表单
                }
                }],
            });
        }

        function showAddUser() {
            $("#addDiv").css("display", "block")
        }

        function showEditUser() {
            //获取要展示的数据id
            let row= $("#tt").datagrid('getSelections');
            //判断是否选中一条
            if(row.length!=1){
                $.messager.alert("提示","编辑错误！！","error");
                return
            }
            //发起请求
            let id=row[0].Id;
            $.post("/Admin/UserInfo/ShowEditUser",{"id":id},function (data) {
                if(data.flag=="ok"){
                    //注意！！ajax是异步的，这个展示不可以放在这个post里面
                   // $("#editDiv").css("display", "block");
                    // 选择name属性等于XX的XX元素
                    $("#editForm input[name=editName]").val(data.rows.UserName);
                    $("#editForm input[name=editPwd]").val(data.rows.UserPwd);
                    $("#editForm input[name=editRemark]").val(data.rows.Remark);
                    $("#editForm input[name=Eidtid]").val(data.rows.Id);
                    $("#editForm input[name=EditaddDate]").val(data.rows.AddDate);
                    $("#editDiv").css("display", "block");
                    $("#editDiv").dialog({
                        title: '编辑用户信息',
                        width: 300,
                        height: 300,
                        collapsible: true, //可折叠
                        maximizable: true, //最大化
                        resizable: true,//可缩放
                        modal: true,//模态，表示只有将该窗口关闭才能修改页面中其它内容
                        buttons: [{ //按钮组
                            text: 'Ok',//按钮上的文字
                            iconCls: 'icon-ok',
                            handler: function () {
                                //提交编辑表单。
                                EditUserData();
                            }
                        }, {
                            text: 'Cancel',
                            handler: function () {
                                $("#editDiv").dialog("close");
                            }
                        }]
                    })
                }

            });

        }

        function AddUserData() {
            var pars = $("#addForm").serializeArray();
            $.post("/Admin/UserInfo/AddUser", pars, function (data) {
                if (data.flag == "ok") {
                    $.messager.alert("提示","用户信息添加成功！", "info");
                    //关闭并清空
                    $("#addDiv").dialog("close");
                    $("#addForm input").val("");
                    //刷新表格
                    //loadData()
                    $('#tt').datagrid("reload")
                } else {
                    $.messager.alert("提示","用户信息添加失败！", "error")
                }

            })
        }

        function EditUserData() {
            //获取输入的数据
           let pars= $('#editForm').serializeArray();
           //将数据发送给后端
            $.post("/Admin/UserInfo/EditUser",pars,function (data) {
                if (data.flag=="ok"){
                     console.log("data",data);
                    //关闭弹窗
                    $("#editDiv").dialog("close");
                    //提示
                    $.messager.alert(" 提示","编辑信息成功！","info");
                    $("#tt").datagrid("reload")
                }else  {
                    //关闭弹窗
                    $("#editDiv").dialog("close");
                    //提示
                    $.messager.alert(" 提示","编辑信息失败！","error");
                }

            })

        }
        //添加用户角色
        function showAddRole() {
            //获取选中的对象
            let row=$("#tt").datagrid("getSelections");
            if(row.length!=1){
                $.messager.alert("提示","为用户添加角色错误！" ,"error");
                return
            }
             let id=row[0].Id;
            //给addRoleFrame添加链接
             $("#addRoleFrame").attr("src","/Admin/UserInfo/AddUserRole?id="+id);
            //显示div
            $("#addRoleDiv").css("display","block");
            $("#addRoleDiv").dialog({
                title: '为用户添加角色',
                width: 300,
                height: 300,
                collapsible: true, //可折叠
                maximizable: true, //最大化
                resizable: true,//可缩放
                modal: true,//模态，表示只有将该窗口关闭才能修改页面中其它内容
                buttons: [{ //按钮组
                    text: 'Ok',//按钮上的文字
                    iconCls: 'icon-ok',
                    handler: function () {
                        //提交编辑角色信息表单。
                        $("#addRoleFrame")[0].contentWindow.SubAddRoleForm();
                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $("#addRoleDiv").dialog("close");
                    }
                }]
            })
        }
        function AfterEdit(data) {
           if(data.flag=="ok"){
               $.messager.alert("提示","为用户添加角色成功了！","info");
               //关闭添加角色的Div
               $("#addRoleDiv").dialog("close");
               //刷新页面
               $("#tt").datagrid("reload");
           }
        }
    </script>
</head>
<body>
用户名:<input type="text" id="txtSearchUName" />&nbsp;&nbsp;&nbsp;
备注:<input type="text" id="txtSearchRemark" />
<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px" id="btnSearch">Search</a>
<table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
</table>
<!----------------------添加用户---------------------->
<div id="addDiv">
    <form id="addForm">
        <table>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="userName"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="text" name="userPwd"></td>
            </tr>
            <tr>
                <td>备注</td>
                <td><input type="text" name="userRemark"></td>
            </tr>
        </table>
    </form>
</div>
<!----------------------编辑用户---------------------->
<div id="editDiv">
    <form id="editForm">
        <input type="hidden" id="txtEditId" name="Eidtid">
        <input type="hidden" id="txtEditAddDate" name="EditaddDate">
        <table>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="editName"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="text" name="editPwd"></td>
            </tr>
            <tr>
                <td>备注</td>
                <td><input type="text" name="editRemark"></td>
            </tr>
        </table>
    </form>
</div>
<!----------------------为用户添加角色---------------------->
<div id="addRoleDiv">
    <!------还可以设置scrolling  auto滚动条----->
    <iframe id="addRoleFrame" width="100%" height="100%" frameborder="0"> </iframe>
</div>

</body>
</html>