<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">


</script>
<body>
    <form  data-ajax="true" data-ajax-method="post" data-ajax-success="afterAdd" data-ajax-url="/Admin/ActionInfo/AddAction" id="form1">
        <input type="hidden" name="MenuIcon" id="hiddenMenuIcon" />
        <table>
            <tr>
                <td>权限名称</td>
                <td>
                    <input type="text" name="ActionInfoName" /></td>
            </tr>
            <tr>
                <td>Url</td>
                <td>
                    <input type="text" name="Url" /></td>
            </tr>
            <tr>
                <td>请求方式</td>
                <td>
                    <select name="HttpMethod">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>

                </td>
            </tr>

            <tr>
                <td>权限类型</td>
                <td>
                    <select name="ActionTypeEnum" id="changeActionTypeEnum">
                        <option value="0">普通权限</option>
                        <option value="1">菜单权限</option>
                    </select>

                </td>
            </tr>

            <tr style="display:none" id="iconTr">
                <td>上传图标</td>
                <td>
                    <input type="file" name="fileUp" />
                    <input type="button" value="上传图片" id="btnFileUp" />
                    <div id="showImage"></div>

                </td>
            </tr>


            <tr>
                <td>备注</td>
                <td>
                    <input type="text" name="Remark" /></td>
            </tr>

        </table>
    </form>
</body>
</html>