<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户权限表</title>
</head>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/static/js/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="/static/js/MyAjaxForm.js"></script>
<link href="/static/css/themes/default/easyui.css" rel="stylesheet"/>
<link href="/static/css/themes/icon.css" rel="stylesheet"/>
<script type="text/javascript">
    $(function () {
        $("#addActionDiv").css("display", "none");
        $("#editActiondiv").css("display", "none");
        bindchangeActionTypeEnum();//绑定权限类别对话框
        bindBtnFileUp();
        loadData();
    });

    function loadData() {
        $('#tt').datagrid({
            url: '/Admin/ActionInfo/GetActionInfo',
            title: '权限数据表格',
            width: 700,
            height: 400,
            fitColumns: true, //列自适应
            nowrap: false,
            idField: 'Id',//主键列的列明
            loadMsg: '正在加载权限的信息...',
            pagination: true,//是否有分页
            singleSelect: false,//是否单行选择
            pageSize: 5,//页大小，一页多少条数据
            pageNumber: 1,//当前页，默认的
            pageList: [2, 5, 10],
            queryParams: {},//往后台传递参数
            columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                {field: 'ck', checkbox: true, align: 'left', width: 50},
                {field: 'Id', title: '编号', width: 80},
                {field: 'ActionInfoName', title: '权限名称', width: 120},
                {field: 'HttpMethod', title: '请求方式', width: 120},
                {field: 'Url', title: '请求地址', width: 120},
                {field: 'Remark', title: '备注', width: 120},
                {
                    field: 'ActionTypeEnum', title: '权限类型', width: 120,
                    formatter: function (value, row, index) {
                        return value == "1" ? "菜单权限" : "普通权限"
                    }
                },
                {
                    field: 'AddDate', title: '时间', width: 120, align: 'right',
                    formatter: function (value, row, index) {
                        return value.split('T')[0]
                    }
                }
            ]],
            toolbar: [{
                id: 'btnDelete',
                text: '删除',
                iconCls: 'icon-remove',
                handler: function () {
                    deteleAction();
                }
            }, {
                id: 'btnAdd',
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    showAddAction();
                }
            }, {
                id: 'btnEdit',
                text: '编辑',
                iconCls: 'icon-edit',
                handler: function () {
                    showEditAction();
                }
            }],
        });
    }

    //删除权限
    function deteleAction() {
        //获取在表格中选中的行（getSelections：表示获取选中的行）
        let rows = $('#tt').datagrid('getSelections');
        if (!rows || rows.length == 0) {//判断是否选择了，如果没有选择长度为0
            //alert("请选择要修改的商品！");
            $.messager.alert("提醒", "请选择要删除的记录!", "error");
            return;
        }
        $.messager.confirm("提示", "确定要删除该权限吗", function (r) {
            if (r) {
                //获取选中的记录数组中各个记录的id
                let strId = "";
                for (let i = 0; i < rows.length; i++) {
                    strId = strId + rows[i].Id + ",";
                }
                //截掉最后一个逗号
                strId = strId.substr(0, strId.length - 1);
                //将数据发送给服务端
                $.post("/Admin/ActionInfo/DeleteAction", {"strId": strId}, function (data) {
                    if (data.flag == "ok") {
                        $.messager.alert("提示", "数据删除成功!", "info");
                        $("#tt").datagrid("reload");
                        $("#tt").datagrid("clearSelections");
                    } else {
                        $.messager.alert("提示", "数据删除失败!", "error");
                    }


                })
            }
        })
    }

    //添加权限
    function showAddAction() {
        //给iframe显示
        // $("#addActionFrame").attr("src","/Admin/ActionInfo/ShowAddAction");
        //显示添加权限的视图
        $("#addActionDiv").css("display", "block");
        //显示dialog
        $("#addActionDiv").dialog({
            title: '添加权限信息',
            width: 500,
            height: 400,
            collapsible: true,
            maximizable: true,
            resizable: true,
            modal: true,
            buttons: [{
                text: 'Ok',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单。
                    $("#form1").submit();

                }
            }, {
                text: 'Cancel',
                handler: function () {
                    $('#addActionDiv').dialog('close');
                }
            }]
        });
    }

    //给权限类型绑定改变事件
    function bindchangeActionTypeEnum() {
        $("#changeActionTypeEnum").change(function () {
            if ($(this).val() == "1") {
                $("#iconTr").fadeIn();
            } else {
                $("#iconTr").fadeOut();
            }
        })
    }

    //绑定上传图片的点击事件
    function bindBtnFileUp() {
        $("#btnFileUp").click(function () {
            //发送post请求
            $("#form1").ajaxSubmit({
                success: function (str) {
                    if (str.flag == "ok") {
                        $.messager.alert("提示", "上传图片成功", "info");
                        $("#showImage").html("<img src='" + str.msg.substr(1) + "' width='50px' height='50px'>");
                        $("#hiddenMenuIcon").val(str.msg.substr(1))//注意服务端返回的内容是带“.”的

                    } else {
                        $.messager.alert("提示", "上传图片失败", "error");
                    }
                },
                error: function (error) {
                    alert(error);
                },
                url: '/Admin/ActionInfo/FileUp', /*设置post提交到的页面*/
                type: "post", /*设置表单以post方法提交*/
                dataType: "json" /*设置返回值类型为文本*/
            });
        });
    }

    //定义增加权限的回调函数
    function afterAdd(data) {
        if (data.flag == "ok") {
            $.messager.alert("提示", "增加权限信息成功！", "info");
            //关闭窗口
            $('#addActionDiv').dialog('close');
            $("#tt").datagrid("reload");
        } else {
            $.messager.alert("提示", "增加权限信息失败", "info");
        }
    }

    //编辑权限
    function showEditAction() {
        //获取选中的权限，发送给后端查询
        //判断是否选中一个
        var rows = $('#tt').datagrid('getSelections');
        if (rows.length != 1) {
            $.messager.alert("提示", "只能选择1个权限进行编辑!!", "error");
            return;
        }
        let actionId = rows[0].Id;
        $("#editActionFrame").attr("src","/Admin/ActionInfo/ShowEditAction?actionId="+actionId);
        $("#editActionDiv").css("display", "block");
        $("#editActionDiv").dialog({
            title: '编辑权限信息',
            width: 500,
            height: 400,
            collapsible: true,
            maximizable: true,
            resizable: true,
            modal: true,
            buttons: [{
                text: 'Ok',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单。
                  $("#editActionFrame")[0].contentWindow.subActionForm();
                }
            }, {
                text: 'Cancel',
                handler: function () {
                    $('#editActionDiv').dialog('close');
                }
            }]
        });
    }
    //父窗口回调函数
  function AfterEdit(data) {
      if (data.flag=="ok"){
          $.messager.alert("提示","更新 权限信息成功!","info");
          //关闭窗口
          $("#editActionDiv").dialog("close");
          //刷新页面
          $("#tt").datagrid("reload");
      }else{
          $.messager.alert("提示","更新 权限信息失败!","error")
      }
  }
</script>
<body>
<table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
</table>

<div id="addActionDiv">
{{/*<iframe  id="addActionFrame" width="100%" height="100%"  frameborder="0"></iframe>*/}}
    <form data-ajax="true" data-ajax-method="post" data-ajax-success="afterAdd"
          data-ajax-url="/Admin/ActionInfo/AddAction" id="form1">
        <input type="hidden" name="MenuIcon" id="hiddenMenuIcon"/>
        <table>
            <tr>
                <td>权限名称</td>
                <td>
                    <input type="text" name="ActionInfoName"/></td>
            </tr>
            <tr>
                <td>Url</td>
                <td>
                    <input type="text" name="Url"/></td>
            </tr>
            <tr>
                <td>请求方式</td>
                <td>
                    <select name="HttpMethod">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>

                </td>
            </tr>

            <tr>
                <td>权限类型</td>
                <td>
                    <select name="ActionTypeEnum" id="changeActionTypeEnum">
                        <option value="0">普通权限</option>
                        <option value="1">菜单权限</option>
                    </select>

                </td>
            </tr>

            <tr style="display:none" id="iconTr">
                <td>上传图标</td>
                <td>
                    <input type="file" name="fileUp"/>
                    <input type="button" value="上传图片" id="btnFileUp"/>
                    <div id="showImage"></div>

                </td>
            </tr>


            <tr>
                <td>备注</td>
                <td>
                    <input type="text" name="Remark"/></td>
            </tr>

        </table>
    </form>
</div>

<div id="editActionDiv">
    <iframe id="editActionFrame" width="100%" height="100%" frameborder="0"></iframe>
</div>
</body>
</html>